# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
.env

# Databases & Persistence
*.udb
*.udb-shm
*.udb-wal
my_vault.*
production_test.*
*.sqlite
*.db

# Testing & Logs
.pytest_cache/
.coverage
htmlcov/
*.log
test_*_snapshots/

# Build & Packaging
dist/
build/
*.egg-info/

# IDEs & System
.DS_Store
.idea/
.vscode/
.git/
*.pdf
